version: '3.9'

services:
  db:
    image: postgres:16-alpine
    container_name: school_db
    environment:
      POSTGRES_USER: school
      POSTGRES_PASSWORD: schoolpass
      POSTGRES_DB: school_app
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U school"]
      interval: 5s
      timeout: 3s
      retries: 10

  adminer:
    image: adminer:latest
    container_name: school_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
